<div class="container">

  <div class="row mt-3 p-3">
    <h3 class="mb-3">Alta de Producto</h3>
  </div>
  <hr class="mb-4">

  <div *ngIf="spinner" class="row justify-content-center pt-5">
    <div class="spinner-border text-align-center" style="width:3rem; height:3rem;" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div *ngIf="!spinner" class="row">
    <div class="col-md-8 order-md-1">
      <form class="needs-validation" [formGroup]="form" (ngSubmit)="send()">
        <div class="row">
          <!--Nombre-->
          <div class="col-md-6 mb-3">
            <label for="firstName">Nombre</label>
            <input pattern="[a-zA-Z ]*" minlength=3 maxlength=25 formControlName="nombre" type="text"
              class="form-control" placeholder="" value="" required>
            <!--Errores-->
            <div *ngIf="form.controls['nombre'].invalid && (sended || form.controls['nombre'].touched)">
              <div *ngIf="!(form.controls['nombre'].errors?.required);  else reqError">
              </div>
              <div *ngIf="!(form.controls['nombre'].errors?.pattern );  else patError">
              </div>
              <div *ngIf="!(form.controls['nombre'].errors?.minlength );  else minError">
              </div>
              <div *ngIf="!(form.controls['nombre'].errors?.maxlength );  else maxError">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <!--Descripcion-->
          <div class="col-md-6 mb-3">
            <label for="lastName">Descripcion</label>
            <input pattern="[a-zA-Z ]*" minlength=3 maxlength=50 formControlName="descripcion" type="text"
              class="form-control" placeholder="" value="" required>
            <!--Errores-->
            <div *ngIf="form.controls['descripcion'].invalid && (sended || form.controls['descripcion'].touched)">
              <div *ngIf="!(form.controls['descripcion'].errors?.required);  else reqError">
              </div>
              <div *ngIf="!(form.controls['descripcion'].errors?.pattern );  else patError">
              </div>
              <div *ngIf="!(form.controls['descripcion'].errors?.minlength );  else minError">
              </div>
              <div *ngIf="!(form.controls['descripcion'].errors?.maxlength );  else maxError">
              </div>
            </div>
          </div>
        </div>

        <hr class="mb-4">


        <div class="row">
          <!--Precio-->
          <div class="col-md-4 mb-3">
            <label for="d">Precio</label>
            <input pattern="[0-9]*\.?[0-9]*" formControlName="precio" type="number" step="0.01" class="form-control"
              placeholder="" value="" required>
            <!--Errores-->
            <div *ngIf="form.controls['precio'].invalid && (sended || form.controls['precio'].touched)">
              <div *ngIf="!(form.controls['precio'].errors?.required);  else reqError">
              </div>
            </div>
          </div>
          <!--Stock-->
          <div class="col-md-4 mb-3">
            <label for="d">Stock</label>
            <input pattern="[0-9]*" formControlName="stock" type="number" class="form-control" placeholder="" value=""
              required>
            <div *ngIf="form.controls['stock'].invalid && (sended || form.controls['stock'].touched)">
              <div *ngIf="!(form.controls['stock'].errors?.required);  else reqError">
              </div>
              <div *ngIf="!(form.controls['stock'].errors?.pattern);  else patError">
              </div>
            </div>
          </div>
          <!--Errores-->
          <div *ngIf="form.controls['stock'].invalid && (sended || form.controls['stock'].touched)">
            <div *ngIf="!(form.controls['stock'].errors?.required);  else reqError">
            </div>
          </div>
        </div>
        <!--Pais-->
        <div class="col-md-4 mb-3">
          <label for="country">Pais</label>
          <input formControlName="pais" type="text" class="form-control" placeholder="" value="" required readonly>
          <!--Errores-->
          <div *ngIf="form.controls['pais'].invalid && (sended || form.controls['pais'].touched)">
            <div *ngIf="!(form.controls['pais'].errors?.required);  else reqError">
            </div>
          </div>
        </div>

        <!--comestible-->
        <div class="col-md-4 mb-3">
          <label for="comestible" class="p-2"> Comestible</label>
          <input formControlName="comestible" type="checkbox" name="comestible"
            aria-label="Checkbox for following text input">
        </div>
        <div class="card" *ngIf="respuesta">
          <div class="card-body invalid-feedback d-block text-center">
            <strong style="width: 100%; font-size: medium;">
              {{respuesta}}
            </strong>
          </div>
        </div>
        <hr class="mb-4">
        <button class="offset-md-4 col-md-4 col-sm-6 btn btn-primary btn-lg btn-block" type="submit">Enviar</button>
      </form>
    </div>

    <div class="col-md-4 order-md-2 mb-4">
      <!--Continente-->
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Continentes</span>
      </h4>
      <ul class="list-group mb-3">
        <li [class.active]="selectedContinent === c" (click)="selectContinent(c)" *ngFor="let c of continents"
          class="list-group-item d-flex justify-content-between align-items-center lh-condensed">
          <span>{{c}}</span>
        </li>
      </ul>
      <!--Paises-->
      <app-tabla-paises [continentFilter]="selectedContinent"
        (countrySelected)="form.controls['pais'].setValue($event.nombre)"></app-tabla-paises>
    </div>
  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2017-2021 Company Name</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>

</div>

<!--TEMPLATES DE ERRORES-->
<!--ERROR -> Requerido-->
<ng-template #reqError>
  <div class="invalid-feedback d-block" style="width: 100%;">
    *Este campo es obligatorio*
  </div>
</ng-template>
<!--ERROR -> Patron incorrecto-->
<ng-template #patError>
  <div class="invalid-feedback d-block" style="width: 100%;">
    *El formato del campo es incorrecto*
  </div>
</ng-template>
<!--ERROR -> minimo-->
<ng-template #minError>
  <div class="invalid-feedback d-block" style="width: 100%;">
    *El valor de este campo es muy corto/bajo*
  </div>
</ng-template>
<!--ERROR -> maximo-->
<ng-template #maxError>
  <div class="invalid-feedback d-block" style="width: 100%;">
    *El valor de este campo es muy largo/alto*
  </div>
</ng-template>
