<div class="text-center align-items-center py-5 row">
  <div class="col-4">
    <img src="https://flagcdn.com/64x48/{{pais?.img_code}}.png" srcset="https://flagcdn.com/128x96/{{pais?.img_code}}.png 2x,
      https://flagcdn.com/192x144/{{pais?.img_code}}.png 3x" width="64" height="48" alt="{{pais?.nombre}}">
  </div>
  <div class="col-4">
    <strong><span class="text-capitalize">{{pais?.nombre}}</span></strong>
  </div>
  <div class="col-4">
    <span class="text-muted text-capitalize">{{pais?.continente}}</span>
  </div>
</div>
